
body {
	margin: 0;
}
div#map {
	width: 100%;
	height: 100%;
}
div#text {
	z-index: 1510;
	background-color: rgba(255,255,255, 0.25);
	position: absolute;
	top: 10px;
	left: 55px; 
	width: auto;
	height: auto;
	padding: 8px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

div#pos {
	z-index: 1500;
	background-color: rgba(255,255,255, 1);
  border: 2px solid;
  border-color: rgb(192, 192, 192);
	background-image: url("images/icon-location2.png");
	position: absolute;
	top:     90px;
	left:    10px; 
	width:   10px;
	height:  10px;
	padding: 10px;
	-webkit-border-radius: 7px;
	        border-radius: 7px;
}

div#search {
	z-index: 1500;
	background-color: rgba(255,255,255, 0.25);
	position: absolute;
	bottom: 20px;
	left: 10px; 
	width: auto;
	height: auto;
	padding: 10px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
div#search input {
	width: 200px;
}
div#results {
	/*font-style: sans-serif;*/
	color: black;
	font-size: 75%;
}

div#info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
